#contentToPrint #payment-history{
    width: 49%;
    margin: unset;
    float: left;
  }
input:checked ~ .tab-content{
padding: 0;
}

.tab-content td, .tab-content th {
    text-align: center;
    font-size: 14px;
    line-height: 11px;
}
.tab-label{
    padding: 0.85em;
}
/*Mimic Desktop on Mobile*/
#mimic-desktop{
    width: 1000px;
}


@media print {
    @page {
      size: A4;
      margin: 0;
    }
    footer, header, nav, #top-buttons, #header{
        display: none;
    }
    .tab-label{
        color: #000;
    }
    .tab-label::after{
        display: none;
    }

    /* Add other print-specific styles here */

    #item-table *{
        font-size: 13px;
    }
    #contentToPrint{
        all:unset;
        /* position: absolute; */
    }
    #logo{
        padding: 0 !important;
    }

    #contentToPrint #summary{
        width: 50%;
        display: block;
        float: right;
    }
    #notes{
        margin-top: 20px;
        display: block;
        clear:both;
    }

  }